language: ruby
rvm:
- 2.3.0
- 2.2.4
cache: bundler
bundler_args: --jobs=2
script:
script:
  - bundle exec rake db:setup
  - bundle exec rake spec
after_success:
  - bundle exec codeclimate-test-reporter
